{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <section class="section-head">
        <div class="parallax-effect">
            <div class="container">
                <div class="row">
                    <h1 class="H1 text-center">SAJ fermetures</h1>
                    <span class="text-center text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dignissimos dolor dolore dolores et eveniet ex exercitationem facilis fugit incidunt ipsum maxime molestias neque nihil, quasi quod, reiciendis temporibus ullam.</span>
                </div>
            </div>
        </div>
    </section>
    <section class="section2">
        <div class="container">
            <div class="row text-center">
                <h2>Nos missions</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequatur, eum possimus quam sequi sint. Aperiam atque beatae dignissimos eius excepturi explicabo, facilis necessitatibus numquam placeat rem vel veritatis voluptatibus.</p>
                <div class="col mt-3 "><img src="{{ asset('imagesSaj/PORTE SOUPLE DITEC .webp') }}" alt="photo"></div>
                <div class="col mt-3"><img src="{{ asset('imagesSaj/IMG_20210329_164129.webp') }}" alt="photo"></div>
                <div class="col mt-3"><img src="{{ asset('imagesSaj/coupeFeuCoulissante.jpg') }}" alt="photo"></div>

            </div>
        </div>

    </section>








{#    <div class="container m-5">#}
{#        <div class="row"><img src="https://picsum.photos/2002/300" class="img-fluid" alt=""></div>#}
{#    </div>#}
{#    <div class="test">dqsdsqdsqsssqjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj</div>#}

{#    <div class="row">#}
{#        <div class="col " ><img height="300" src="{{ asset('imagesSaj/coupeFeuCoulissante.jpg') }}" alt=""> </div>#}
{#        <div class="col"><img src="https://picsum.photos/300/300" alt="photo"></div>#}
{#        <div class="col"><img src="https://picsum.photos/300/300" alt="photo"></div>#}
{#        <div class="col"><img src="https://picsum.photos/300/300" alt="photo"></div>#}

{#    </div>#}

{% endblock %}